.app {
    width: 1400px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);
    border-radius: 32px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}