.slider {
  margin-top: 180px;
  margin-bottom: 180px;
  @media screen and (max-width: 568px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &__container {
    width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 1279px) {
      width: 500px;
    }
    @media screen and (max-width: 768px) {
      width: 400px;
    }
    @media screen and (max-width: 568px) {
      width: 300px;
    }
  }

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 72px;
    text-align: center;
    color: #f2f4f7;
    @media screen and (max-width: 1279px) {
      font-size: 60px;
    }
    @media screen and (max-width: 568px) {
      font-size: 40px;
    }
  }
  &__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #f2f4f7;
    margin-top: 45px;
    @media screen and (max-width: 1279px) {
      font-size: 15px;
    }
  }
  &__btn {
    display: block;
    margin: 70px auto 0 auto;
    padding: 10px 75px;
    background: rgba(111, 100, 100, 0);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(92.82deg, #fc4060 0%, #8061fd 100%);
    border: 2px solid skyblue;
    border-image: linear-gradient(140deg, #fc4060, #8061fd);
    border-image-slice: 1;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      background: crimson;
      box-shadow: 0 -150px 70px -120px #fc4060 inset,
        0 -220px 70px -120px #8061fd inset, 0 -280px 70px -120px #fc4060 inset;
      animation: backGround 2s infinite alternate;
      color: #fff;
      border: none;
      padding: 12px 77px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  &__item {
    &--wrapper {
      margin-right: 20px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes backGround {
  50% {
    background: darkviolet;
    box-shadow: 0 -140px 70px -120px mediumorchid inset,
      0 -210px 70px -120px teal inset, 0 -280px 70px -120px plum inset;
  }
}
